@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
h1 {
    color: #0d183f;

};
tr {
    background-color: gray;

}
th {
    font-family: 'Roboto', sans-serif;
}
tr:hover {
    background-color: rgb(238, 242, 249); /* Color de fondo al pasar el ratón */
}

thead{
    color: #61626e;
}
table tr {
    cursor: pointer;
    color:rgb(61, 61, 61);
    font-size: 12px
    
}

table tr:hover {
    background-color: #f5f5f5;
    
}

table a {
    display: table-row;
}
p{
    font-weight: 200;
}
span{
    cursor: pointer;
    color:rgb(61, 61, 61);
    font-size: 12px;
    margin-right: 10px;

}

.btn-warning {
    background-color: #ffebb1;
    border-color: #ffebb1;
    
    color: #392d2d;
}

.btn-success {
    background-color: #a1cbab;
    border-color: #a1cbab;
    color: #445a4d;
}

.btn-primary {
    background-color: #ffffff;
    border-color: #3d3d3d;
    color: #3d3d3d;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}

.btn-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    color: #212529;
}

.btn-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.70rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.bg-light-red {
    background-color: #f1c7c7;
}

.bg-light-green {
    background-color: #d1ead1;
}
.btn-link {
    
    font-size: 12px;
    color: #0d447c;
}
.btn-add-note{
    
    border-color: #888989;
    color: #212529;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;

}
.btn-item-status{
    
    border-color: #888989;
    background-color: hwb(213 83% 14%);
    color: #232121;
    font-size: 12px;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.2rem;

}
