h2 {
  margin-top: 20px; /* Ajustar este valor según sea necesario */
}

@media (max-width: 768px) {
  h2 {
    margin-top: 20px; /* Ajustar el margen superior para pantallas más pequeñas */
  }
}

.login-form {
  background-color: rgb(206, 206, 206); /* Color de fondo del formulario */
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
