#navbar {
    background-color: #1d2232;
    font-weight: lighter;
    color: rgb(215, 8, 8); 
}

#navbar a, 
#navbar button {
    color: white; 
    font-weight: lighter;
}
#navbar button:hover {
    color: white; 
    font-weight: 400;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: rgb(32, 55, 29);
}

#navbar h2 {
    color: #f8f8f8; 
}

#navbar h5 {
    color: rgb(214, 219, 231);
}
.navbar-logo {
    height: 80px; 
    margin-right: 10px;
}